@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muliregular.ttf') format('ttf');
    src: url('../fonts/Muliregular.woff') format('woff');
    src: url('../fonts/Muliregular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Mulibold.ttf') format('ttf');
    src: url('../fonts/Mulibold.woff') format('woff');
    src: url('../fonts/Mulibold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Mulilight.ttf') format('ttf');
    src: url('../fonts/Mulilight.woff') format('woff');
    src: url('../fonts/Mulilight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('../fonts/Mulisemibold.ttf') format('ttf');
    src: url('../fonts/Mulisemibold.woff') format('woff');
    src: url('../fonts/Mulisemibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}